<br>
<div class="float-left">
  <button class="btn btn-default" style="color: #757575" routerLink="../../../list">
    <i class="fas fa-chevron-circle-left fa-lg fa-2x iconBack"></i>
  </button>
</div>
<main role="main" class="container">
  <div class="d-flex align-items-center p-3 my-3 text-white titleBg rounded shadow">
    <div *ngFor="let img of myForm">
      <img class="mr-3 img-fluid" [src]="img.image" style="width: 150px; ;height: 150px">
    </div>
    <div class="lh-100" *ngFor="let form of myForm">
      <h4 class="mb-0 text-white lh-100">{{form.title}}</h4>
      <small>{{form.description}}</small><br>
      <small>Form by {{form.name}}</small><br>
      <br><br>
      <div class="mr-10">
        <button class="btn btn-default btn-sm mr-2" style="color: #FFFFFF">
          <i class="far fa-edit fa-lg iconHover"></i>
        </button>
        <button class="btn btn-default btn-sm mr-2" (click)="shareForm()" style="color: #FFFFFF">
          <i class="fas fa-share-alt fa-lg iconHover"></i>
        </button>
        <button class="btn btn-default btn-sm mr-2" (click)="deleteForm()" style="color: #FFFFFF">
          <i class="fas fa-trash-alt fa-lg iconDelete"></i>
        </button>
      </div>
    </div>
  </div>

  <div class="my-3 p-3 bg-white rounded shadow">
    <h6 class="border-bottom border-gray pb-2 mb-0">All List</h6>
    <button class="btn btn-success btn-sm" routerLink="./answer">New Form list</button>
    <router-outlet></router-outlet>

    <div class="media text-muted pt-3" *ngFor="let show of AnswerTitle;let i = index">
      <img class="bd-placeholder-img mr-2 rounded" width="32" height="32" src="/assets/img/syringe.png" alt="">
      <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
        <div class="d-flex justify-content-between align-items-center w-100">
          <strong class="text-gray-dark">Form list {{show.id}}</strong>
          <a routerLink="./details/{{show.id}}">Show</a>
        </div>
        <span class="d-block">User id: </span>
      </div>
    </div>

    <small class="d-block text-right mt-3">
      <a href="#"></a>
    </small>
  </div>
</main>