<br>
<div class="float-left">
  <button class="btn btn-default" style="color: #757575" routerLink="../../../shows/{{form_id}}">
    <i class="fas fa-chevron-circle-left fa-lg fa-2x iconBack"></i>
  </button>
</div>
<div class="container">
  <div class="py-5 text-center">

    <div class="row">
      <div class="col-sm">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          <span class="text-muted">Form List</span>
        </h4>
      </div>
      <div class="col-sm">

      </div>
      <div class="col-sm">

      </div>
    </div>
    <div class="text-center">
      <ul class="list-group mb-3 shadow">
        <li class="list-group-item d-flex justify-content-between lh-condensed"
          *ngFor="let list of myQuestion; let i = index">
          <div>
            <h6 class="my-0">{{list.title}}</h6>
            <span class="text-muted">{{list.description}}</span>

            <div *ngIf="isDate[i]">
              <!-- Date -->
              <input type="date" class="form-control" [(ngModel)]="list.value" name="dateForm">
            </div>
            <div *ngIf="isDatetime[i]">
              <!-- Datetime -->
              <input type="datetime-local" class="form-control" [(ngModel)]="list.value" name="datetimeForm">
            </div>
            <div *ngIf="isString[i]">
              <!-- String -->
              <input type="text" class="form-control" [(ngModel)]="list.value" name="stringForm">
            </div>
            <div *ngIf="isText[i]">
              <!-- Text -->
              <textarea class="form-control" cols="30" rows="10" [(ngModel)]="list.value" name="textForm"></textarea>
            </div>
            <div *ngIf="isInt[i]">
              <!-- Int -->
              <input type="number" min="0" step="1" class="form-control" [(ngModel)]="list.value" name="intForm">
            </div>
            <div *ngIf="isFloat[i]">
              <!-- Float -->
              <input type="number" step="0.01" class="form-control" [(ngModel)]="list.value" name="floatForm">
            </div>
            <div *ngIf="isCheck[i]">
              <!-- Checkbox -->
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="checkTest" [(ngModel)]="list.value"
                  name="formFil">
                <label class="custom-control-label" for="checkTest">Checkbox</label>
              </div>
            </div>
            <div *ngIf="isFile[i]">
              <!-- File -->
              <div class="custom-file">
                <input type="file" accept="image/*" class="custom-file-input" id="fileImage"
                  (change)="handleFileInput($event,i)" multiple>
                <label class="custom-file-label" for="fileImage">Choose file</label>
              </div>
              <div class="rounded mx-auto d-block">
                <div class="row">
                  <div class="col" *ngFor="let image of answerImage">
                    <img type="image" class="img rounded" [src]="image.url" style="width: 150px; ;height: 150px">
                  </div>

                </div>
              </div>

            </div>
            <div *ngIf="isDropdown[i]">
              <!-- Dropdown -->
              <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  Action
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Separated link</a>
                </div>
              </div>
            </div>

          </div>
          <span class="text-muted">{{list.order_no}}</span>
        </li>
      </ul>
      <button class="btn btn-success float-right" (click)="submit()">Submit</button>
    </div>

  </div>