<div class="container divTitle">

  <!-- My Forms Row -->
  <div class="row">
    <div class="col-lg-12">
      <h2 class="my-4">My Form</h2>
    </div>
    <div class="col-lg-3 col-sm-6 text-center mb-4" *ngFor="let form of myForm">
      <div class="hovereffect" routerLink="../shows/{{form.id}}">
        <div>
          <img class="img-responsive rounded-circle img-fluid d-block mx-auto " src="assets/img/doctor.png"
            style="width: 200px; ;height:200px">
        </div>
        <div class="overlay">
          <small>
            <h2>
              <div class="textOverflow">
                {{form.title}}
              </div>
            </h2>
          </small>
          <p>
            <a>
              <button type="button" class="btn btn-default imgBtnForm" routerLink="../shows/{{form.id}}">
                See more...
              </button>
            </a>
          </p>
        </div>
        <!-- (click)="selectForm(form.id)" -->
        <button type="button" class="btn btn-default btnForm" routerLink="../shows/{{form.id}}">
          <small>
            <h6>
              <div class="textOverflow">
                {{form.title}}
              </div>
            </h6>
          </small>


        </button>
      </div>

      <!-- <p>{{user_username}}</p> -->
    </div>

  </div>


  <div class="row text-center">
    <div class="col-sm">

    </div>
    <div class="col-sm">

    </div>
    <div class="col-sm" *ngIf="isNextPage">
      <button class="btn btn-primary float-right" (click)="getForm()">
        next page
        <i class="fas fa-arrow-right"></i>
      </button>
    </div>
  </div>



</div>