<br>
<div class="float-left">
  <button class="btn btn-default" style="color: #757575" routerLink="../../../../shows/{{form_id}}">
    <i class="fas fa-chevron-circle-left fa-lg fa-2x iconBack"></i>
  </button>
</div>
<main role="main" class="container">

  <div class="row">
    <div class="col-md-8 blog-main">
      <h3 class="pb-4 mb-4 font-italic border-bottom">

      </h3>

      <div class="blog-post" *ngFor="let ans of myAnswer">
        <h2 class="blog-post-title">List {{ans.id}}</h2>
        <p class="blog-post-meta">create {{ans.created_at}} <br>
          by <a href="#">Username</a></p>
        <hr>
        <div *ngFor="let items of ans.answer_item">
          {{items.value}} <br>
        </div>
        <br>
      </div><!-- /.blog-post -->

      <nav class="blog-pagination">
        <a class="btn btn-outline-primary" href="#">Older</a>
        <a class="btn btn-outline-secondary disabled" href="#" tabindex="-1" aria-disabled="true">Newer</a>
      </nav>

    </div><!-- /.blog-main -->

    <aside class="col-md-4 blog-sidebar">
      <div class="p-4 mb-3 bg-light rounded">
        <h4 class="font-italic">About</h4>
        <p class="mb-0">Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet
          fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
      </div>

      <div class="p-4">
        <h4 class="font-italic">Archives</h4>
        <ol class="list-unstyled mb-0">
          <li><a href="#">March 2014</a></li>
        </ol>
      </div>


    </aside><!-- /.blog-sidebar -->

  </div><!-- /.row -->

</main>