<footer class="my-5 pt-5 text-muted text-center text-small">
  <p class="mb-1">© 2019-2019 Rise plus Technology</p>
  <ul class="list-inline">
    <li class="list-inline-item"><a href="#">Privacy</a></li>
    <li class="list-inline-item"><a href="#">Terms</a></li>
    <li class="list-inline-item"><a href="#">Support</a></li>
  </ul>
</footer>