<div class="float-left">
  <button class="btn btn-default" style="color: #757575" routerLink="/dashboard">
    <i class="fas fa-chevron-circle-left fa-lg fa-2x iconBack"></i>
  </button>
</div>
<div class="divBg">
  <div class="div-padding">
    <div class="card text-center bg-light shadow" style="max-width: 50rem;">
      <div class="card-header cardHeader">
        <ul class="nav nav-tabs card-header-tabs">
          <li class="nav-item">
            <a class="nav-link " [routerLinkActive]="['active']" routerLink="/signin">Sign in</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " [routerLinkActive]="['active']" routerLink="/signup">Sign up</a>
          </li>
        </ul>
      </div>

      <div class="bodyRegister">
        <div class="card-body">
          <p class="card-text">
          </p>
          <form class="form-signup">
            <h1 class="h3 mb-3 font-weight-normal">Sign up</h1>


            <input type="text" class="form-control rounded-top" placeholder="Username" required=""
              [(ngModel)]="username" name="username"><br>
            <input type="password" class="form-control rounded-bottom" placeholder="Confirm Password"
              [(ngModel)]="confirmpassword" name="confirmpassword"><br>
            <input type="password" class="form-control rounded-bottom" placeholder="Password" [(ngModel)]="password"
              name="password"><br>
            <input type="email" class="form-control rounded-bottom" placeholder="Email" [(ngModel)]="email"
              name="email"><br>

            <button class="btn btn-lg btn-outline-primary btn-block" type="submit"
              (click)="signUp(username,password,confirmpassword,email)">Sign in</button>
          </form>
        </div>
      </div>

    </div>
  </div>
</div>