<div class="container">
  <div class="py-5 text-center">
    <img class="d-block mx-auto mb-4" src="/assets/img/doctor.png" alt="" width="100" height="100">
    <h2>{{name}}</h2>
    <div class="row">
      <div class="col-sm">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          <span class="text-muted">User Info</span>
        </h4>
      </div>
      <div class="col-sm">

      </div>
      <div class="col-sm">
        <button class="btn btn-warning btn-sm float-right" routerLink="../edit">Edit Profile</button>
      </div>
    </div>
    <div class="text-center">
      <ul class="list-group mb-3 shadow">
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">Username</h6>
            <small class="text-muted">{{user_name}}</small>
          </div>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">Name</h6>
            <small class="text-muted">{{name}}</small>
          </div>

        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">Email</h6>
            <small class="text-muted">{{email}}</small>
          </div>
          <span class="text-muted"></span>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">Tel.</h6>
            <small class="text-muted">{{tel}}</small>
          </div>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">Position</h6>
            <small class="text-muted">{{position}}</small>
          </div>
        </li>
      </ul>
    </div>

  </div>