<div class="container">
  <div class="divTitle">
    <div class="row mt-5">

      <div class="col-md-6">
        <div class="zoom">
          <img alt="Web Studio" class="img-fluid rounded mx-auto d-block" src="/assets/img/syringe.png" />
        </div>
      </div>
      <div class="col-md-6 col-lg-5 ml-auto d-flex align-items-center mt-4 mt-md-0 ">
        <div>
          <h2 class="formTitle">Welcome to Dr. Forms</h2>
          <p class="margin-top-s textTitle">Whether you’re a full stack web developer, content author, or business
            professional
            –
            Solodev gives you the power to build, customize, and manage modules to boost your website.</p>
          <button class="btn btn-outline-primary mr-3" routerLink="/signin">Sign in</button>
          <button class="btn btn-outline-success" routerLink="/signup">Sign up</button>
        </div>
      </div>
    </div>
  </div>


</div>