
.align-items-center {
  -ms-flex-align: center!important;
  align-items: center!important;
}
.d-flex {
  display: -ms-flexbox!important;
  display: flex!important;
}

.formTitle {
    color: #2196F3;
}
.divTitle {
    padding:0px; 
    margin:0px;
}
.textTitle{
    color: #757575;
}

.zoom {
  width: 300px;
  height: 300px;
  transition: transform .2s; 
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.1); 
}
