<div class="container">

  <div class="row">
    <div class="col-8">
      <h4 class="my-4 text-muted">New Forms</h4>
      <form class="needs-validation" novalidate="">

        <label for="firstName">Title</label>
        <input type="text" class="form-control" id="formName" placeholder="" value="" required=""
          [(ngModel)]="nameForms" name="nameForm" autocomplete="off">

        <br>
        <label for="lastName">Description</label>
        <textarea class="form-control" id="lastName" placeholder="some description..." value="" required=""
          [(ngModel)]="disForms" name="disForm" cols="2" rows="5"></textarea>

      </form>

    </div>
    <div class="col-4">

      <h4 class="d-flex justify-content-between align-items-center my-4">
        <span class="text-muted">Picture Form</span>
        <span class="text-muted">
          <h6><small>standard size 150x150</small></h6>
        </span>
      </h4>

      <ul class="list-group mb-3 shadow-sm">
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <div class="custom-file">
              <input type="file" accept="image/*" class="custom-file-input" (change)="handleFileInput($event)">
              <label class="custom-file-label" for="inputGroupFile01">
                <div class="textOverflow">{{image_name_show}}</div>
              </label>
            </div>
          </div>
        </li>
        <br>

        <div>
          <div class="rounded mx-auto d-block " *ngFor="let image of formImage">
            <img type="image" class="rounded-circle image-center" [src]="image.url"
              style="width: 150px; height: 150px"><br>
          </div>
        </div>
      </ul>
    </div>
  </div>

  <hr>

  <div *ngIf="isAdditem">

    <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let form of myForm; let i = index" cdkDrag>
        <form class="form-inline">
          <h3 class="mr-3">{{i+1}}</h3>
          <div class="form-group mr-2">
            Title <input class="form-control form-control-sm ml-1" [(ngModel)]="form.title" name="formtitle"
              autocomplete="off">
          </div>
          <div class="form-group mr-3">
            Description <textarea class="form-control form-control-sm ml-1" [(ngModel)]="form.description"
              name="formdes" rows="1" cols="80"></textarea>
          </div>
          <div class="form-group">
            <button class="btn btn-default">
              <i class="far fa-trash-alt fa-lg" (click)="removeItem(i)" style="color: rgb(228, 28, 68)"></i>
            </button>
          </div>

          <form class="form-inline">
            <div class="form-group mr-3">
              <!-- Required -->
              <label class="switch ml-5 mr-2">
                <input type="checkbox" [(ngModel)]="form.required" name="required_sw">
                <span class="slider round"></span>
              </label>
              <p class="mt-3">Required</p>
            </div>
            <div class="form-group mr-3">
              <!-- Filter -->
              <label class="switch mr-2">
                <input type="checkbox" [(ngModel)]="form.av_search" name="filter_sw">
                <span class="slider round"></span>
              </label>
              <p class="mt-3">Filter</p>
            </div>
            <div class="form-group mr-3 ml-4">
              <!-- type -->
              <select class="form-control" id="Selecttype" (change)="selectType($event.target.value,i)">
                <option>---</option>
                <option>Date</option>
                <option>Datetime</option>
                <option>String</option>
                <option>Text</option>
                <option>Integer</option>
                <option>Float</option>
                <option>Checkbox</option>
                <option>File</option>
                <option>Dropdown</option>
              </select>
            </div>
            <!-- <div class="form-group mr-3">
              Type {{form.data_type}}
            </div> -->
          </form>

        </form>


      </div>
    </div>

    <hr>
  </div>

  <!-- end add items -->

  <div class="row">
    <div class="col">
      <button type="button" class="btn btn-outline-success btn-lg btn-block" (click)="addItem()">
        add item
      </button>
    </div>
    <div class="col">
      <button type="button" class="btn btn-outline-info btn-lg btn-block" (click)="preView()">
        Preview
      </button>
    </div>
  </div>
  <hr>
  <button class="btn createBtu btn-lg btn-block" type="submit" (click)="createForm()">Create new my
    forms</button>
  <hr>
</div>


<!-- The Modal Edit Profile -->
<div class="modal" id="myModalformlist">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Select Type</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="text-center">
          <ul class="list-group mb-3 ">

            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <!-- date -->
                <h6>Date</h6>
                <small class="text-muted"></small>
              </div>
              <span class="text-muted"><button class="btn btn-warning btn-sm" (click)="selectType(typeDate)"
                  data-dismiss="modal">select</button></span>
            </li>

            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <!-- datetime -->
                <h6>Datetime</h6>
                <small class="text-muted"></small>
              </div>
              <span class="text-muted"><button class="btn btn-warning btn-sm" (click)="selectType(typeDatetime)"
                  data-dismiss="modal">select</button></span>
            </li>

            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <!-- string -->
                <h6 class="my-0">String</h6>
                <small class="text-muted"></small>
              </div>
              <span class="text-muted"><button class="btn btn-warning btn-sm" (click)="selectType(typeString)"
                  data-dismiss="modal">select</button></span>
            </li>

            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <!-- text -->
                <h6 class="my-0">Text area</h6>
                <small class="text-muted"></small>
              </div>
              <span class="text-muted"><button class="btn btn-warning btn-sm" (click)="selectType(typeText)"
                  data-dismiss="modal">select</button></span>
            </li>

            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <!-- int -->
                <h6 class="my-0">Int</h6>
                <small class="text-muted"></small>
              </div>
              <span class="text-muted"><button class="btn btn-warning btn-sm" (click)="selectType(typeInt)"
                  data-dismiss="modal">select</button></span>
            </li>

            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <!-- float -->
                <h6 class="my-0">Float</h6>
                <small class="text-muted"></small>
              </div>
              <span class="text-muted"><button class="btn btn-warning btn-sm" (click)="selectType(typeFloat)"
                  data-dismiss="modal">select</button></span>
            </li>

            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <!-- checkbox -->
                <h6 class="my-0">Check box</h6>
                <small class="text-muted"></small>
              </div>
              <span class="text-muted"><button class="btn btn-warning btn-sm" (click)="selectType(typeCheck)"
                  data-dismiss="modal">select</button></span>
            </li>

            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <!-- File -->
                <h6 class="my-0">Image</h6>
                <small class="text-muted"></small>
              </div>
              <span class="text-muted"><button class="btn btn-warning btn-sm" (click)="selectType(typeFile)"
                  data-dismiss="modal">select</button></span>
            </li>

            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <!-- dropdown -->
                <h6 class="my-0">Dropdown</h6>
                <small class="text-muted"></small>
              </div>
              <span class="text-muted"><button class="btn btn-warning btn-sm" (click)="selectType(typeDropdown)"
                  data-dismiss="modal">select</button></span>
            </li>
          </ul>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">

        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
<!-- end Modal -->