.btuUser {
    color: #ffffff;
}

.btuSetting {
    color: #aaaaaa;
    border-radius: .2rem;
}


.btuSettingOption {
    color: #aaaaaa;
}
.btuSettingOption:hover {
    color: rgb(255, 255, 255);
    background-color: #aaaaaa;
}
.btuSignout {
    color: rgb(240, 51, 51);
}
.btuSignout:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(240, 51, 51);
}


