<nav class="navbar  navbar-expand-lg navbar-dark" style="background-color: #2196F3;">
  <a class="navbar-brand" routerLink="/forms">
    <img src="/assets/img/syringe.png" width="30" height="30" class="d-inline-block align-top" alt="">
    Dr.Form
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" routerLink="/forms">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" routerLink="/forms">My Forms</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" routerLink="/shareforms">Share Forms</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" routerLink="/new">New Forms</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <a class="nav-link btuUser" [routerLinkActive]="['active']" routerLink="./users/show">{{user_name}}</a>
      <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle btuSetting btn btn-light btn-sm" href="#" id="navbarDropdown" role="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Setting
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a class="dropdown-item btuSettingOption btn-sm" routerLink="./users/show">My Profile</a>
          <a class="dropdown-item btuSettingOption btn-sm" routerLink="./users/edit">Edit Profile</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item btuSignout btn-sm" (click)="signOut()" routerLink="/signin">Sign Out</a>
        </div>
      </div>
    </form>
  </div>

</nav>