<div class="container divTitle">

  <!-- My Forms Row -->
  <div class="row">
    <div class="col-lg-12">
      <h2 class="my-4">Share Form</h2>
    </div>
    <div class="col-lg-4 col-sm-6 text-center mb-4" *ngFor="let form of shareForm">
      <div class="hovereffect">
        <div>
          <img class="img-responsive rounded-circle img-fluid d-block mx-auto " [src]="form.image"
            style="width: 200px; ;height:200px">
        </div>
        <div class="overlay">
          <h2>{{form.title}}</h2>
          <p>
            <a>
              <button type="button" class="btn btn-default imgBtnForm" routerLink="../show/{{form.id}}">
                Show Detail
              </button>
            </a>
          </p>
        </div>
        <!-- (click)="selectForm(form.id)" -->
        <button type="button" class="btn btn-default btnForm" routerLink="../show/{{form.id}}">
          <h5>{{form.title}}</h5>
        </button>
      </div>

      <!-- <p>{{user_username}}</p> -->
    </div>

  </div>


  <div class="row text-center">
    <div class="col-sm">

    </div>
    <div class="col-sm">

    </div>
    <div class="col-sm">
      <button class="btn btn-primary" (click)="getForm()">next page</button>
    </div>
  </div>



</div>